.tendencias, .recienAgregados {
  padding: 1.5rem;
  margin-top: 1rem; }

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: 'Anek Bangla', sans-serif; }

header {
  position: fixed;
  top: 0px;
  right: 0px;
  left: 0px;
  z-index: 1030;
  box-shadow: 0 0.2rem 1rem #9c9c9c; }
  header nav {
    background-color: #ff4835; }
    header nav ul li {
      padding: 0.4rem; }

main {
  margin-top: 120px; }
  main .comicTituloPadre {
    border: 1px solid #dee2e6;
    width: fit-content;
    padding: 3rem;
    margin-bottom: 3rem; }
    main .comicTituloPadre .comicTitulo {
      letter-spacing: 5px;
      font-size: 30px;
      margin-bottom: 1.5rem; }
    main .comicTituloPadre .comicMain {
      display: flex;
      justify-content: center;
      flex-wrap: wrap; }
      main .comicTituloPadre .comicMain img {
        border-radius: 5px;
        box-shadow: 0.2rem 0.2rem 0.2rem #a6a6a6; }
      main .comicTituloPadre .comicMain .card-body .cardDescripcion {
        max-width: 300px;
        margin: auto; }
      main .comicTituloPadre .comicMain .card-body .cardLinks {
        text-align: center; }
        main .comicTituloPadre .comicMain .card-body .cardLinks a {
          display: block; }
  main .comicsRelacionados {
    padding: 3rem 0rem;
    border: 1px solid #dee2e6; }
    main .comicsRelacionados h3, main .comicsRelacionados h2 {
      text-align: center;
      letter-spacing: 5px;
      padding-bottom: 2rem; }
    main .comicsRelacionados .comicsRelacionadosImg {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      place-content: center;
      place-items: center;
      padding: 0rem 15rem 3rem 15rem;
      gap: 3rem; }
      main .comicsRelacionados .comicsRelacionadosImg img {
        padding: 1rem;
        border-radius: 0.25rem;
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15); }
        main .comicsRelacionados .comicsRelacionadosImg img:hover {
          transform: scale(102%);
          transition: 0.3s; }
  main .instruccionesContainer {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 5rem; }
    main .instruccionesContainer .instruccionesUno {
      padding: 2rem;
      border: 1px solid #dee2e6;
      border-radius: 5px; }
      main .instruccionesContainer .instruccionesUno h1 {
        text-align: center;
        letter-spacing: 5px;
        padding-bottom: 1rem;
        font-size: 30px; }
      main .instruccionesContainer .instruccionesUno ol li {
        max-width: 600px; }
      main .instruccionesContainer .instruccionesUno h2 {
        font-size: 20px; }
      main .instruccionesContainer .instruccionesUno .iframeVid {
        border-radius: 10px;
        margin: 0rem 0rem 1rem 0rem; }
      main .instruccionesContainer .instruccionesUno .iconsRedesInstrucciones {
        text-align: center; }
        main .instruccionesContainer .instruccionesUno .iconsRedesInstrucciones i {
          font-size: 2rem;
          color: black;
          padding: 3rem; }
          main .instruccionesContainer .instruccionesUno .iconsRedesInstrucciones i:hover {
            color: #545454; }
    main .instruccionesContainer .instruccionesDos {
      padding: 2rem;
      margin-top: 5rem; }
      main .instruccionesContainer .instruccionesDos h3 {
        letter-spacing: 5px;
        font-size: 20px; }
      main .instruccionesContainer .instruccionesDos img {
        margin: 0rem 1rem 1rem 0rem;
        border-radius: 5px; }
  main .comicMain {
    display: flex;
    justify-content: center; }
    main .comicMain .card {
      text-align: center;
      width: 400px;
      padding: 2rem; }
      main .comicMain .card .comicTitulo {
        margin-bottom: 1.5rem; }
      main .comicMain .card img {
        width: x; }
      main .comicMain .card .cardTitulo {
        font-size: 20px; }
      main .comicMain .card .cardDescripcion {
        font-size: x; }
      main .comicMain .card .cardLinks {
        display: flex;
        flex-direction: column; }
  main .tituloPersonajes,
  main .tituloEditoriales {
    font-size: 35px;
    text-align: center;
    margin-bottom: 2rem; }
  main .contenedorPersonajes {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    margin: 2rem 0rem 5rem 0rem;
    place-items: center;
    gap: 2rem; }
    main .contenedorPersonajes .personajesCard {
      display: flex;
      justify-content: center;
      flex-direction: column;
      border: 1px solid #dee2e6;
      border-radius: 5px;
      text-align: center;
      margin: 2rem 0rem;
      max-height: 481px; }
      main .contenedorPersonajes .personajesCard h2 {
        margin: auto;
        font-size: 24px; }
      main .contenedorPersonajes .personajesCard p {
        max-width: 200px;
        margin: auto;
        padding: 0.5rem;
        font-size: 0.8rem; }
      main .contenedorPersonajes .personajesCard .leerMas {
        background-color: #ff4835;
        border-radius: 5px;
        color: white; }
        main .contenedorPersonajes .personajesCard .leerMas:hover {
          background-color: #ff6d5d; }
      main .contenedorPersonajes .personajesCard a {
        text-decoration: none;
        color: black; }
    main .contenedorPersonajes img {
      margin-bottom: 4px;
      box-shadow: 0px 3px 5px #b7b7b7;
      border-radius: 2px; }
  main .padreEditoriales {
    border-bottom: 1px solid #dee2e6; }
    main .padreEditoriales .contenedorEditoriales {
      display: grid;
      grid-template-columns: repeat(4, 0.5fr);
      place-items: center; }
      main .padreEditoriales .contenedorEditoriales .editorialCard {
        display: flex;
        justify-content: center;
        flex-direction: column;
        border: 1px solid #dee2e6;
        border-radius: 5px;
        text-align: center;
        max-width: 250px;
        margin-bottom: 3rem; }
      main .padreEditoriales .contenedorEditoriales .tituloEditorialCard {
        font-size: 24px;
        margin-top: 5px; }
      main .padreEditoriales .contenedorEditoriales .descripcionEditorialCard {
        max-width: 240px;
        font-size: 0.8rem;
        margin: auto;
        margin-bottom: 0.4rem; }
      main .padreEditoriales .contenedorEditoriales a {
        text-decoration: none;
        color: black; }
      main .padreEditoriales .contenedorEditoriales img {
        margin-bottom: 4px;
        box-shadow: 0px 3px 5px #b7b7b7;
        border-radius: 2px; }
      main .padreEditoriales .contenedorEditoriales .leerMas {
        background-color: #ff4835;
        border-radius: 5px;
        color: white;
        padding: 0.5rem;
        max-width: 250px;
        margin-bottom: 0rem; }
        main .padreEditoriales .contenedorEditoriales .leerMas:hover {
          background-color: #ff6d5d; }
  main .formIframePersonajes {
    border-top: 1px solid #dee2e6; }
  main .sobreNosotros .sobreNosotrosPadre .contenedorSobreNos {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap; }
    main .sobreNosotros .sobreNosotrosPadre .contenedorSobreNos img {
      border-radius: 20px;
      padding-bottom: 3rem; }
    main .sobreNosotros .sobreNosotrosPadre .contenedorSobreNos .sobreNosUno {
      padding-bottom: 3rem; }
      main .sobreNosotros .sobreNosotrosPadre .contenedorSobreNos .sobreNosUno h1 {
        letter-spacing: 8px;
        font-size: 15px; }
      main .sobreNosotros .sobreNosotrosPadre .contenedorSobreNos .sobreNosUno h2 {
        font-size: 30px; }
      main .sobreNosotros .sobreNosotrosPadre .contenedorSobreNos .sobreNosUno p {
        margin: 0px;
        max-width: 500px; }
      main .sobreNosotros .sobreNosotrosPadre .contenedorSobreNos .sobreNosUno .h2NecesitasAyuda {
        font-size: 20px;
        margin-bottom: 1.3rem; }
      main .sobreNosotros .sobreNosotrosPadre .contenedorSobreNos .sobreNosUno a {
        border-radius: 10px;
        padding: 0.5rem 2.5rem;
        background-color: #ff4835;
        color: white;
        text-decoration: none; }
        main .sobreNosotros .sobreNosotrosPadre .contenedorSobreNos .sobreNosUno a:hover {
          background-color: #ff6d5d; }
  main .sobreNosotros .sobreNosotrosPadre .sobreNosDosPadre {
    padding: 1.5rem 0rem 3rem 0rem;
    border: 1px solid #dee2e6;
    background-color: #f7f6f6; }
    main .sobreNosotros .sobreNosotrosPadre .sobreNosDosPadre .tituloSobreNosDos {
      text-align: center;
      padding-bottom: 1.5rem;
      letter-spacing: 3px;
      font-size: 30px; }
    main .sobreNosotros .sobreNosotrosPadre .sobreNosDosPadre .sobreNosDos {
      display: flex;
      justify-content: space-evenly; }
      main .sobreNosotros .sobreNosotrosPadre .sobreNosDosPadre .sobreNosDos .ofrecemos {
        max-height: 300px;
        padding: 1rem;
        border-radius: 5px;
        background-color: white;
        border: 1px solid #dee2e6; }
        main .sobreNosotros .sobreNosotrosPadre .sobreNosDosPadre .sobreNosDos .ofrecemos i {
          font-size: x; }
        main .sobreNosotros .sobreNosotrosPadre .sobreNosDosPadre .sobreNosDos .ofrecemos h3 {
          font-size: 25px; }
        main .sobreNosotros .sobreNosotrosPadre .sobreNosDosPadre .sobreNosDos .ofrecemos p {
          max-width: 200px; }
  main .sobreNosotros .sobreNosotrosPadreDos {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    border: 1px solid #dee2e6; }
    main .sobreNosotros .sobreNosotrosPadreDos .redesSociales {
      padding: 3rem; }
      main .sobreNosotros .sobreNosotrosPadreDos .redesSociales .iconsRedes {
        text-align: center;
        font-size: 2.5rem;
        padding-top: 1rem; }
        main .sobreNosotros .sobreNosotrosPadreDos .redesSociales .iconsRedes i {
          margin: 0rem 0.4rem;
          color: black; }
          main .sobreNosotros .sobreNosotrosPadreDos .redesSociales .iconsRedes i:hover {
            color: #545454; }
    main .sobreNosotros .sobreNosotrosPadreDos .semiContacto {
      padding: 3rem; }
      main .sobreNosotros .sobreNosotrosPadreDos .semiContacto h3 {
        padding-bottom: 1rem;
        text-align: center; }
      main .sobreNosotros .sobreNosotrosPadreDos .semiContacto p {
        max-width: 400px; }
  main .sobreNosotros .sobreNosotrosPadreTres {
    padding: 1.5rem 0rem 3rem 0rem;
    border-bottom: 1px solid #dee2e6; }
    main .sobreNosotros .sobreNosotrosPadreTres .preguntasFrecuentes {
      padding: 1rem; }
      main .sobreNosotros .sobreNosotrosPadreTres .preguntasFrecuentes h3 {
        padding-bottom: 1.5rem;
        font-size: 30px;
        letter-spacing: 4px; }
      main .sobreNosotros .sobreNosotrosPadreTres .preguntasFrecuentes div {
        border-top: 1px solid #dee2e6;
        border-bottom: 1px solid #dee2e6;
        padding: 1rem;
        background-color: #f7f6f6; }

.demo {
  width: 100%;
  margin: auto; }
  .demo .item {
    padding-bottom: 60px;
    border-bottom: 1px solid #dee2e6; }
    .demo .item ul {
      list-style: none outside none;
      padding-left: 0;
      margin: 0; }
      .demo .item ul li {
        text-align: center;
        color: black; }
        .demo .item ul li img {
          border-radius: 5px; }

h1,
h2 {
  font-size: 26px; }

.tendencias {
  border-bottom: 1px solid #dee2e6; }
  .tendencias h1 {
    letter-spacing: 5px; }
  .tendencias .tendencias1,
  .tendencias .tendencias2 {
    display: flex;
    justify-content: center; }
  .tendencias img:hover {
    transform: scale(102%);
    transition: 0.3s; }

.recienAgregados h2 {
  letter-spacing: 5px; }

.recienAgregados .recienAgregados1,
.recienAgregados .recienAgregados2 {
  display: flex;
  justify-content: center; }

.recienAgregados img:hover {
  transform: scale(102%);
  transition: 0.3s; }

.instrucciones {
  background-color: #ff4835;
  padding: 4rem;
  box-shadow: 0 0.2rem 1rem #9c9c9c; }
  .instrucciones a {
    text-decoration: none;
    letter-spacing: 5px; }
    .instrucciones a:hover {
      text-decoration: underline; }

.formIframe {
  display: flex;
  justify-content: space-evenly;
  flex-flow: row wrap;
  align-items: center; }
  .formIframe .btn-primary {
    background-color: #ff4835;
    border-color: #ff4835; }
    .formIframe .btn-primary:hover {
      background-color: #ff6d5d; }

.botonesSiguiente {
  text-align: center; }
  .botonesSiguiente a {
    display: inline-block;
    text-decoration: none;
    border-radius: 8px;
    background-color: #ff4835;
    padding: 8px 18px;
    margin: 5px 8px;
    color: white; }
    .botonesSiguiente a:hover {
      background-color: #ff6d5d; }

.footerGrid {
  display: grid;
  grid-template-columns: 2fr 1fr repeat(2, 1fr);
  grid-template-rows: 1fr;
  margin-top: 1rem;
  padding: 3rem;
  color: white;
  background-color: #ff4835;
  box-shadow: 0 0.2rem 1rem #9c9c9c; }
  .footerGrid .copy {
    font-size: 12px; }
  .footerGrid .sobreNosDiv {
    margin-bottom: 3rem; }
    .footerGrid .sobreNosDiv h4 {
      padding-bottom: 1rem; }
    .footerGrid .sobreNosDiv #sobreNos {
      max-width: 250px; }
  .footerGrid .contactInfo {
    display: block; }
  .footerGrid .linkRedes {
    text-decoration: none;
    display: block; }
    .footerGrid .linkRedes:hover {
      text-decoration: underline; }

@media only screen and (min-width: 2000px) {
  .contenedorPersonajes {
    grid-template-columns: repeat(5, 1fr) !important;
    grid-template-rows: repeat(2, 1fr) !important; }
  .hideCard {
    display: none !important; } }

@media only screen and (max-width: 1251px) {
  .comicsRelacionadosImg {
    grid-template-columns: repeat(2, 1fr) !important;
    margin: 0rem 15rem; } }

@media only screen and (max-width: 1221px) {
  .instruccionesDosHide {
    display: none; } }

@media only screen and (max-width: 1200px) {
  .footerGrid {
    grid-template-columns: repeat(2, 1fr) !important;
    grid-template-rows: repeat(2, 1fr) !important; }
  .instruccionesDosHide {
    display: none; } }

@media only screen and (max-width: 1002px) {
  .semiContacto p {
    text-align: center; } }

@media only screen and (max-width: 992px) {
  .contenedorPersonajes {
    grid-template-columns: repeat(3, 1fr) !important; }
  .contenedorEditoriales {
    grid-template-columns: repeat(3, 1fr) !important; }
  .comicsRelacionadosImg {
    margin: 0rem; }
  .hide1 {
    display: none; }
  .instruccionesDos {
    display: none; } }

@media only screen and (max-width: 830px) {
  .cardDescripcion {
    max-width: 400px !important;
    padding-bottom: 0.5rem; }
  .comicTitulo {
    text-align: center; } }

@media only screen and (max-width: 768px) {
  .contenedorEditoriales {
    grid-template-columns: repeat(2, 1fr) !important; }
  .editorialCard a {
    width: 200px; }
    .editorialCard a img {
      width: 200px; }
  .contenedorPersonajes {
    grid-template-columns: repeat(2, 1fr) !important; }
    .contenedorPersonajes .personajesCard a {
      width: 150px; }
      .contenedorPersonajes .personajesCard a img {
        width: 150px; }
  .iframeVid {
    width: 400px; }
  .comicsRelacionadosImg img {
    width: 250px; }
  .comicTituloPadre {
    width: 500px; }
    .comicTituloPadre .comicMain {
      grid-template-columns: 1fr !important;
      place-items: center; }
      .comicTituloPadre .comicMain .cardDescripcion {
        max-width: 360px; }
  .sobreNosDos {
    display: grid !important;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    place-items: center; }
    .sobreNosDos .ofrecemos {
      margin: 1rem; }
  .redesSociales {
    border-bottom: 1px solid #dee2e6; } }

@media only screen and (max-width: 575px) {
  .comicsRelacionados {
    display: none; }
  .mapaG,
  .hide2 {
    display: none; }
  .comicMain img {
    width: 290px; }
  .footerGrid {
    grid-template-rows: 1fr !important; }
  .contenedorSobreNos {
    padding: 1rem; }
    .contenedorSobreNos img {
      display: none; } }
