@media only screen and (max-width: 1200px) {
  .footerGrid {
    grid-template-columns: repeat(2, 1fr) !important;
    grid-template-rows: repeat(2, 1fr) !important; } }

@media only screen and (max-width: 575px) {
  .mapaG, .hide2 {
    display: none; }
  .footerGrid {
    grid-template-rows: 1fr !important; } }

@media only screen and (max-width: 992px) {
  .hide1 {
    display: none; } }

main .tendencias, main .recienAgregados {
  padding: 1.5rem;
  margin-top: 1rem; }

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: 'Anek Bangla', sans-serif; }

header {
  position: fixed;
  top: 0px;
  right: 0px;
  left: 0px;
  z-index: 1030;
  box-shadow: 0 0.2rem 1rem #9c9c9c; }
  header nav {
    background-color: #ff4835; }
    header nav ul li {
      padding: 0.4rem; }

main {
  margin-top: 120px; }
  main .comicTituloPadre {
    width: 700px;
    border: 1px solid #dee2e6;
    padding-bottom: 1rem; }
    main .comicTituloPadre .comicTitulo {
      padding-top: 1rem;
      text-align: center; }
    main .comicTituloPadre .comicMain {
      display: flex;
      justify-content: center; }
      main .comicTituloPadre .comicMain .cardTitleImg {
        text-align: center;
        width: 400px;
        padding: 1rem; }
        main .comicTituloPadre .comicMain .cardTitleImg img {
          border-radius: 5px;
          box-shadow: 2px 2px 5px #3f3f3f; }
      main .comicTituloPadre .comicMain .card-body .cardTitulo {
        font-size: 20px; }
      main .comicTituloPadre .comicMain .card-body .cardDescripcion {
        max-width: 300px; }
      main .comicTituloPadre .comicMain .card-body .cardLinks a {
        display: block;
        text-align: center; }
  main .comicsRelacionadosContenedor {
    border-top: 1px solid #dee2e6;
    border-bottom: 1px solid #dee2e6;
    margin: 3rem 0rem 0rem 0rem; }
    main .comicsRelacionadosContenedor .comicsRelacionadosTitulo {
      padding: 1.5rem 0rem 1rem 0rem;
      text-align: center; }
    main .comicsRelacionadosContenedor .comicsRelacionados {
      display: flex;
      justify-content: center; }
      main .comicsRelacionadosContenedor .comicsRelacionados img:hover {
        transform: scale(102%);
        transition: 0.3s; }
  main .tituloPersonajes,
  main .tituloEditoriales {
    font-size: 35px;
    text-align: center;
    margin-bottom: 2rem; }
  main .contenedorPersonajes {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    margin: 2rem 0rem 5rem 0rem;
    place-items: center;
    gap: 4rem; }
    main .contenedorPersonajes .personajesCard {
      display: flex;
      justify-content: center;
      flex-direction: column;
      border: 1px solid #dee2e6;
      border-radius: 5px;
      text-align: center;
      max-height: 481px; }
      main .contenedorPersonajes .personajesCard img {
        width: 200px; }
      main .contenedorPersonajes .personajesCard h2 {
        margin: auto;
        font-size: 24px; }
      main .contenedorPersonajes .personajesCard p {
        max-width: 200px;
        margin: auto;
        padding: 0.5rem;
        font-size: 0.8rem; }
      main .contenedorPersonajes .personajesCard .leerMas {
        background-color: #ff4835;
        border-radius: 5px;
        color: white; }
        main .contenedorPersonajes .personajesCard .leerMas:hover {
          background-color: #ff6d5d; }
      main .contenedorPersonajes .personajesCard a {
        text-decoration: none;
        color: black; }
    main .contenedorPersonajes img {
      margin-bottom: 4px;
      box-shadow: 0px 3px 5px #b7b7b7;
      border-radius: 2px; }
  main .padreEditoriales {
    border-bottom: 1px solid #dee2e6; }
    main .padreEditoriales .contenedorEditoriales {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(2, 1fr);
      margin: 0rem 0rem 3rem 0rem;
      gap: 4rem;
      place-items: center; }
      main .padreEditoriales .contenedorEditoriales .editorialCard {
        display: flex;
        justify-content: center;
        flex-direction: column;
        border: 1px solid #dee2e6;
        border-radius: 5px;
        text-align: center;
        max-height: x; }
      main .padreEditoriales .contenedorEditoriales .tituloEditorialCard {
        font-size: 24px;
        margin-top: 5px; }
      main .padreEditoriales .contenedorEditoriales .descripcionEditorialCard {
        max-width: 240px;
        font-size: 0.8rem;
        margin: auto;
        margin-bottom: 0.4rem; }
      main .padreEditoriales .contenedorEditoriales a {
        text-decoration: none;
        color: black; }
      main .padreEditoriales .contenedorEditoriales img {
        margin-bottom: 4px;
        box-shadow: 0px 3px 5px #b7b7b7;
        border-radius: 2px; }
      main .padreEditoriales .contenedorEditoriales .leerMas {
        background-color: #ff4835;
        border-radius: 5px;
        color: white;
        padding: 0.5rem;
        max-width: 250px;
        margin-bottom: 0rem; }
        main .padreEditoriales .contenedorEditoriales .leerMas:hover {
          background-color: #ff6d5d; }
  main .formIframePersonajes {
    border-top: 1px solid #dee2e6; }
  main .contenedorSobreNos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    border-bottom: 1px solid #dee2e6; }
    main .contenedorSobreNos .sobreNosUno {
      padding: 3rem;
      margin: 2rem 0px 200px 0px;
      border: 1px solid #dee2e6;
      border-radius: 10px;
      background: white;
      background: linear-gradient(313deg, white 0%, white 32%, #ffd4cf 87%); }
      main .contenedorSobreNos .sobreNosUno h2 {
        font-size: 30px; }
      main .contenedorSobreNos .sobreNosUno p {
        max-width: 500px; }
      main .contenedorSobreNos .sobreNosUno span {
        color: red; }
      main .contenedorSobreNos .sobreNosUno #necesitasAyuda {
        font-size: 20px; }
    main .contenedorSobreNos .sedes {
      display: flex;
      justify-content: center;
      flex-flow: column wrap;
      align-items: center;
      margin-top: 200px;
      border: 1px solid #dee2e6;
      border-radius: 10px;
      background: white;
      background: linear-gradient(146deg, white 0%, white 32%, #ffd4cf 87%); }
    main .contenedorSobreNos .redesSobreNos {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      flex-flow: column wrap;
      border: 1px solid #dee2e6;
      margin-bottom: 200px;
      border-radius: 10px; }
      main .contenedorSobreNos .redesSobreNos .redesFlex {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 5rem; }
        main .contenedorSobreNos .redesSobreNos .redesFlex i {
          font-size: 300%; }
    main .contenedorSobreNos .preguntasFrecuentes {
      border: 1px solid #dee2e6;
      margin-top: 200px;
      padding: 1rem;
      border-radius: 10px; }
      main .contenedorSobreNos .preguntasFrecuentes h2 {
        margin: 0rem 0rem 1rem 0rem; }
      main .contenedorSobreNos .preguntasFrecuentes div {
        border-bottom: 1px solid #dee2e6;
        border-top: 1px solid #dee2e6;
        padding: 1rem; }
  main .demo {
    width: 100%;
    margin: auto; }
    main .demo .item {
      padding-bottom: 60px;
      border-bottom: 1px solid #dee2e6; }
      main .demo .item ul {
        list-style: none outside none;
        padding-left: 0;
        margin: 0; }
        main .demo .item ul li {
          text-align: center;
          color: black; }
          main .demo .item ul li img {
            border-radius: 5px; }
  main h1,
  main h2 {
    font-size: 26px; }
  main .tendencias {
    border-bottom: 1px solid #dee2e6; }
    main .tendencias .tendencias1,
    main .tendencias .tendencias2 {
      display: flex;
      justify-content: center; }
    main .tendencias img:hover {
      transform: scale(102%);
      transition: 0.3s; }
  main .recienAgregados .recienAgregados1,
  main .recienAgregados .recienAgregados2 {
    display: flex;
    justify-content: center; }
  main .recienAgregados img:hover {
    transform: scale(102%);
    transition: 0.3s; }
  main .instrucciones {
    background-color: #ff4835;
    padding: 4rem;
    box-shadow: 0 0.2rem 1rem #9c9c9c; }
  main .formIframe {
    display: flex;
    justify-content: space-evenly;
    flex-flow: row wrap;
    align-items: center; }
    main .formIframe .btn-primary {
      background-color: #ff4835;
      border-color: #ff4835; }
      main .formIframe .btn-primary:hover {
        background-color: #ff6d5d; }

.botonesSiguiente {
  text-align: center; }
  .botonesSiguiente a {
    display: inline-block;
    text-decoration: none;
    border-radius: 8px;
    background-color: #ff4835;
    padding: 8px 18px;
    margin: 5px 8px;
    color: white; }
    .botonesSiguiente a:hover {
      background-color: #ff6d5d; }

.footerGrid {
  display: grid;
  grid-template-columns: 2fr 1fr repeat(2, 1fr);
  grid-template-rows: 1fr;
  margin-top: 1rem;
  padding: 3rem;
  color: white;
  background-color: #ff4835;
  box-shadow: 0 0.2rem 1rem #9c9c9c; }
  .footerGrid .copy {
    font-size: 12px; }
  .footerGrid .sobreNosDiv {
    margin-bottom: 3rem; }
    .footerGrid .sobreNosDiv h4 {
      padding-bottom: 1rem; }
    .footerGrid .sobreNosDiv #sobreNos {
      max-width: 250px; }
  .footerGrid .contactInfo {
    display: block; }
  .footerGrid .linkRedes {
    text-decoration: none;
    display: block; }
    .footerGrid .linkRedes:hover {
      text-decoration: underline; }
