//IMPORT VARIABLES

@import "utilities/variables";

//IMPORT MEDIA QUERIES

@import "utilities/mediaqueries";

//MAPAS

$bg-color: (color1: $color-principal,
    color2: blue,
    color3: green);

//MIXIN

@mixin flex {
    display: flex;
    justify-content: center;
}

//EXTENDS

%padding {
    padding: 1.5rem;
    margin-top: 1rem;
}

//INICIO DE ESTILOS

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Anek Bangla', sans-serif;
}

header {
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    z-index: 1030;
    box-shadow: $shadow;

    nav {
        background-color: map-get($map: $bg-color, $key: color1);

        ul {
            li {
                padding: 0.4rem;
            }
        }
    }
}

main {
    margin-top: 120px;

    //estaria bueno darle un efecto a este h1 de sobre nos
    .comicTituloPadre {
        width: 700px;
        border: $border;
        padding-bottom: 1rem;

        .comicTitulo {
            padding-top: 1rem;
            text-align: center;
        }

        .comicMain {
            display: flex;
            justify-content: center;

            .cardTitleImg {
                text-align: center;
                width: 400px;
                padding: 1rem;

                img {
                    border-radius: 5px;
                    box-shadow: $shadow2;
                }
            }

            .card-body {
                .cardTitulo {
                    font-size: 20px;
                }

                .cardDescripcion {
                    max-width: 300px;
                }

                .cardLinks {
                    a {
                        display: block;
                        text-align: center;
                    }
                }
            }
        }
    }

    .comicsRelacionadosContenedor {
        border-top: $border;
        border-bottom: $border;
        margin: 3rem 0rem 0rem 0rem;

        .comicsRelacionadosTitulo {
            padding: 1.5rem 0rem 1rem 0rem;
            text-align: center;
        }

        .comicsRelacionados {
            @include flex;
            img {
                &:hover {
                    transform: scale(102%);
                    transition: 0.3s;
                }
            }
        }
    }

    .tituloPersonajes,
    .tituloEditoriales {
        font-size: 35px;
        text-align: center;
        margin-bottom: 2rem;
    }

    .contenedorPersonajes {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, 1fr);
        margin: 2rem 0rem 5rem 0rem;
        place-items: center;
        gap: 4rem;

        .personajesCard {
            display: flex;
            justify-content: center;
            flex-direction: column;
            border: $border;
            border-radius: 5px;
            text-align: center;
            max-height: 481px;

            img {
                width: 200px;
            }

            h2 {
                margin: auto;
                font-size: 24px;
            }

            p {
                max-width: 200px;
                margin: auto;
                padding: 0.5rem;
                font-size: 0.8rem;
            }

            .leerMas {
                background-color: $color-principal;
                border-radius: 5px;
                color: white;

                &:hover {
                    background-color: $color-hover;
                }
            }

            a {
                text-decoration: none;
                color: black;
            }
        }

        img {
            margin-bottom: 4px;
            box-shadow: 0px 3px 5px #b7b7b7;
            border-radius: 2px;
        }
    }

    .padreEditoriales {
        border-bottom: $border;

        .contenedorEditoriales {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(2, 1fr);
            margin: 0rem 0rem 3rem 0rem;
            gap: 4rem;
            place-items: center;

            .editorialCard {
                display: flex;
                justify-content: center;
                flex-direction: column;
                border: $border;
                border-radius: 5px;
                text-align: center;
                max-height: x;
            }

            .tituloEditorialCard {
                font-size: 24px;
                margin-top: 5px;
            }

            .descripcionEditorialCard {
                max-width: 240px;
                font-size: 0.8rem;
                margin: auto;
                margin-bottom: 0.4rem;
            }

            a {
                text-decoration: none;
                color: black;
            }

            img {
                margin-bottom: 4px;
                box-shadow: 0px 3px 5px #b7b7b7;
                border-radius: 2px;
            }

            .leerMas {
                background-color: $color-principal;
                border-radius: 5px;
                color: white;
                padding: 0.5rem;
                max-width: 250px;
                margin-bottom: 0rem;

                &:hover {
                    background-color: $color-hover;
                }
            }
        }
    }

    .formIframePersonajes {
        border-top: $border;
    }

    .contenedorSobreNos {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        border-bottom: 1px solid #dee2e6;

        .sobreNosUno {
            padding: 3rem;
            margin: 2rem 0px 200px 0px;
            border: 1px solid #dee2e6;
            border-radius: 10px;
            background: rgb(255, 255, 255);
            background: linear-gradient(313deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 32%, rgba(255, 212, 207, 1) 87%);

            h2 {
                font-size: 30px;
            }

            p {
                max-width: 500px;
            }

            span {
                color: red;
            }

            #necesitasAyuda {
                font-size: 20px;
            }
        }

        .sedes {
            display: flex;
            justify-content: center;
            flex-flow: column wrap;
            align-items: center;
            margin-top: 200px;
            border: 1px solid #dee2e6;
            border-radius: 10px;
            background: rgb(255, 255, 255);
            background: linear-gradient(146deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 32%, rgba(255, 212, 207, 1) 87%);

        }

        .redesSobreNos {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            flex-flow: column wrap;
            border: 1px solid #dee2e6;
            margin-bottom: 200px;
            border-radius: 10px;

            .redesFlex {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                grid-template-rows: repeat(2, 1fr);
                gap: 5rem;

                i {
                    font-size: 300%;
                }
            }
        }

        .preguntasFrecuentes {
            border: 1px solid #dee2e6;
            margin-top: 200px;
            padding: 1rem;
            border-radius: 10px;

            h2 {
                margin: 0rem 0rem 1rem 0rem;
            }

            div {
                border-bottom: 1px solid #dee2e6;
                border-top: 1px solid #dee2e6;
                padding: 1rem;
            }
        }
    }

    .demo {
        width: 100%;
        margin: auto;

        .item {
            padding-bottom: 60px;
            border-bottom: $border;

            ul {
                list-style: none outside none;
                padding-left: 0;
                margin: 0;

                li {
                    text-align: center;
                    color: black;

                    img {
                        border-radius: 5px;
                    }
                }
            }
        }
    }

    h1,
    h2 {
        font-size: 26px;
    }

    .tendencias {
        border-bottom: $border;
        @extend %padding;

        .tendencias1,
        .tendencias2 {
            @include flex;
        }

        img {
            &:hover {
                transform: scale(102%);
                transition: 0.3s;
            }
        }
    }

    .recienAgregados {
        @extend %padding;

        .recienAgregados1,
        .recienAgregados2 {
            @include flex;
        }

        img {
            &:hover {
                transform: scale(102%);
                transition: 0.3s;
            }
        }
    }

    .instrucciones {
        background-color: map-get($map: $bg-color, $key: color1);
        padding: 4rem;
        box-shadow: $shadow;
    }

    .formIframe {
        display: flex;
        justify-content: space-evenly;
        flex-flow: row wrap;
        align-items: center;

        .btn-primary {
            background-color: map-get($map: $bg-color, $key: color1);
            border-color: $color-principal;

            &:hover {
                background-color: $color-hover;
            }
        }
    }
}

.botonesSiguiente {
    text-align: center;

    a {
        display: inline-block;
        text-decoration: none;
        border-radius: 8px;
        background-color: map-get($map: $bg-color, $key: color1);
        padding: 8px 18px;
        margin: 5px 8px;
        color: white;

        &:hover {
            background-color: $color-hover;
        }
    }
}

.footerGrid {
    display: grid;
    grid-template-columns: 2fr 1fr repeat(2, 1fr);
    grid-template-rows: 1fr;
    margin-top: 1rem;
    padding: 3rem;
    color: white;
    background-color: map-get($map: $bg-color, $key: color1);
    box-shadow: $shadow;

    .copy {
        font-size: 12px;
    }

    .sobreNosDiv {
        margin-bottom: 3rem;

        h4 {
            padding-bottom: 1rem;
        }

        #sobreNos {
            max-width: 250px;
        }
    }

    .contactInfo {
        display: block;
    }

    .linkRedes {
        text-decoration: none;
        display: block;

        &:hover {
            text-decoration: underline;
        }
    }
}