//IMPORT VARIABLES

@import "utilities/variables";

//IMPORT MEDIA QUERIES

@import "utilities/mediaqueries";

//MAPAS

$bg-color: (
    color1: $color-principal,
    color2: blue,
    color3: green
);

//MIXIN

@mixin flex {
    display: flex;
    justify-content: center;
}

//EXTENDS

%padding {
    padding: 1.5rem;
    margin-top: 1rem;
}

//INICIO DE ESTILOS

header {
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    z-index: 1030;
    box-shadow: $shadow;
    nav {
        background-color: map-get($map: $bg-color, $key: color1);
        ul {
            li {
                padding: 0.4rem;
            }
        }
    }
}

main {
    margin-top: 120px;
    .seccionCarousel {
        @include flex;
        border-bottom: $border;
    }
    h1, h2 {
        font-size: 26px;
    }
    .carousel {
        width: 400px;
        margin-bottom: 3rem;
    }
    .tendencias {
        border-bottom: $border; 
        @extend %padding;
        .tendencias1, .tendencias2 {
            @include flex;
        }
        img {
            &:hover {
                transform: scale(102%);
                transition: 0.3s;
            }
        }
    }
    .recienAgregados {
        @extend %padding;
        .recienAgregados1, .recienAgregados2 {
            @include flex;
        }
        img {
            &:hover {
                transform: scale(102%);
                transition: 0.3s;
            }
        }
    }
    .instrucciones {
        background-color: map-get($map: $bg-color, $key: color1);
        padding: 4rem;
        box-shadow: $shadow;
    }
    .formIframe {       
        display: flex;
        justify-content: space-evenly;
        flex-flow: row wrap;
        align-items: center;
        .btn-primary {
            background-color: map-get($map: $bg-color, $key: color1);
            border-color: $color-principal;
            &:hover {
                background-color: #ff6d5d;
            }
        }
    }
}

.botonesSiguiente {
    text-align: center;
    a {
        display: inline-block;
        text-decoration: none;
        border-radius: 8px;
        background-color: map-get($map: $bg-color, $key: color1);
        padding: 8px 18px; 
        margin: 5px 8px;
        color: white;  
        &:hover {
            background-color: #ff6d5d;
        }
    }
}

.footerGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: map-get($map: $bg-color, $key: color1);
    box-shadow: $shadow;
    .copy {
        font-size: 12px;
    }
    .sobreNosDiv {
        margin-bottom: 3rem;
        h4 {
            padding-bottom: 1rem;
        }
        #sobreNos {
            max-width: 400px;
        }
    }
    .contactInfo {
        display: block;
    }
    .linkRedes {
        text-decoration: none;
        display: block;
        &:hover {
            text-decoration: underline;
        }
    }
}

