@media only screen and (max-width: 1200px) {
    .footerGrid {
        grid-template-columns: repeat(2, 1fr) !important;
        grid-template-rows: repeat(2, 1fr) !important;
    }
}

@media only screen and (max-width: 1002px) {
    .semiContacto {
        p {
            text-align: center;
        }
    }
}

@media only screen and (max-width: 992px) {
    .hide1 {
        display: none;
    }
}

@media only screen and (max-width: 768px) {
    .comicTituloPadre {
        width: 500px;

        .comicMain {
            grid-template-columns: 1fr !important;
            place-items: center;

            .cardDescripcion {
                max-width: 360px;
            }
        }
    }
    .sobreNosDos {
        display: grid !important;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
        place-items: center;
        .ofrecemos {
            margin: 1rem;
        }
    }
    .redesSociales {
        border-bottom: $border;
    }
}

@media only screen and (max-width: 575px) {
    .mapaG,
    .hide2 {
        display: none;
    }
    .comicMain {
        img {
            width: 300px;
        }
    }
    .footerGrid {
        grid-template-rows: 1fr !important;
    }
    .contenedorSobreNos {
        padding: 1rem;
        img {
            width: 300px;
        }
    }
}